*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active{
    background-color: #000;
    color: #fff;
}



//Header

#Header{
    padding: 30px 0;
    position: fixed;
    width: 100%;
    .header-all{
        display: flex;
        align-items: center;
        .left{
            width: 20%;
            a{
                color: #fff;
                font-size: 40px;
                text-decoration: none;
                font-weight: bold;
            }
        }
        .right{
            width: 80%;
            ul{
                list-style: none;
                display: flex;
                justify-content: flex-end;
            }
            li{
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    font-weight: bold;
                    margin: 15px; 
                    position: relative;
                    &:hover{
                        &::after{
                            width: 22px;
                        }
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: -7px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: #e9204f;
                        transition:0.4s ;
                    }            
                }
                i{
                    color: #fff;
                    margin: 0 15px;
                    cursor: pointer;
                    font-size: 18px;
                }
            }
            li:nth-child(1) a{
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -7px;
                    left: 0;
                    width: 22px;
                    height: 2px;
                    background-color: #e9204f;
                    transition:0.4s ;
                }
            }
        }
    }
}
 
#HeaderMedia{
    background-color: black;
    padding: 20px 0;
    display: none;
    a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 25px;
    }
    i{
        color: #fff;
        cursor: pointer;
        font-size: 25px;
    }
  }

  #sideMenu{
      position: fixed;
      right: 0;
      top: 0;
      width:0;
      transition: 0.7s;
      height: 100%;
      text-align: center;
      background-color: black;
      a{
          text-decoration: none;
          font-weight: bold;
          font-size: 25px;
          display: block;
          color: #fff;
          padding: 20px 0;
      }
      i{
          color: #fff;
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 25px;
          display: none;
          cursor: pointer;
      }
  }


#MediaNavbar{
    padding: 20px 0;
    text-align: center;
    display: none;
    .icons{
        justify-content: center;
        margin-top: 25px;
        i{
            margin: 0 10px;
        }
    }
}

#sideMenu{
    position: fixed;
    right: 0;
    top: 0;
    width:0;
    height: 100%;
    text-align: center;
    background-color: black;
    a{
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        display: block;
        color: #fff;
        padding: 20px 0;
    }
   
}

// First
#First{
    padding: 20rem 0 33rem 0;
    background-color: #000;
    background-image: url(https://gentium.pixerex.com/wp/wp-content/uploads/2019/01/hero_02.jpg);
    background-position: 76% 46%;
    background-repeat: no-repeat;
    background-size: 640px auto;
    .first-text{
        hr{
            background-color: #e9204f;
            height: 2px;
            width: 80px;
            border: none;
            margin-top: -70px;
        }
        h2{
            font-size: 90px;
            color: #fff;
            line-height: 80px;
            letter-spacing: -1.9px;
            font-weight: bold;
            margin-bottom: 90px;
            margin-top: 75px;
            line-height: 100px;

        }
        a{
            border: 2px solid #e9204f;
            font-size: 18px;
            padding: 20px 40px;
            background-color: transparent;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            position: relative;
            z-index: 888;
            &:hover{
                &::after{
                    width: 100%;
                }
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 0;
                z-index: -888;
                transition: 0.4s;
                background-color: #e9204f;
            }
        }
    }
}

// First-alt

#First-alt{
    .all{
        justify-content: center;
        position: relative;
        bottom: 392px;
        z-index: 999;
        &::after{
            content: '';
            position: absolute;
            right: 75px;
            height: 80px;
            bottom: -30px;
            width: 25%;
            background-color: #e9204f;
            z-index: -999;
        }
        .box{
            background-color: #1b1b1b;
            padding: 42px 34px;
            margin: 10px 20px;
            transition: 0.4s;
            &:hover{
                background-color: #e9204f;
                i{
                    color: #fff;
                }
            }
            i{
                color: #e9204f;
                transition: 0.4s;
                font-size: 48px;
                line-height: 1;
                font-style: normal;
            }
            h3{
                color: #fff;
                font-size: 24px;
                margin: 35px 0 35px 0;
            }
            hr{
                width: 15%;
                margin: 30px 0;
                height: 3px;
                border: none;
                color: #e9204f;
            }
            p{
                color: #fff;
                font-size: 17px;
            }
        }
        .box:nth-child(1){
            background-color: #e9204f;
            i{
                color: #fff;
            }
            hr{
                color: #fff;
            }
        }
    }
}

// Fifth

#Second{
    .second-text{
        hr{
            background-color: #e9204f;
            height: 2px;
            width: 50px;
            border: none;
            margin-top: -70px;
            margin: 35px 0;
        }
        h2{
            font-size: 50px;
            color: #000;
            margin: 20px 0;
        }
        h4{
            font-size: 20px;
            color: #e9204f;
        }
    }
    .second-all{
        margin: 5rem 0;
        justify-content: space-between;
        flex-wrap: wrap;
        .box{
            background-color: #f3f3f3;
            margin: 10px 10px;
            transition: 0.4;
            padding: 30px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            &:hover {
                background-color: #e9204f;
                h5{
                    color: #fff;
                    padding-left: 20px;
                }
                i{
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1.4);
                }
            }
            i{
                transition: .4s;
                font-size: 30px;
                color: #9d9c9cdc;
                visibility: hidden;
            }
            h5{
                color: #101010;
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }
            .icon{
                font-size: 25px;
              
            }
        }
    }
}

//Third

#Third{
    .third-text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 35px 0;
        .left{
            hr{
                background-color: #e9204f;
                height: 2px;
                width: 50px;
                border: none;
                margin-top: -70px;
                margin: 35px 0;
            }
            h2{
                font-size: 50px;
                color: #000;
                margin: 20px 0;
            }
            h4{
                font-size: 20px;
                color: #e9204f;
            }
        }
        .right{
            a{
                border: 2px solid #e9204f;
                font-size: 18px;
                padding: 10px 20px;
                background-color: transparent;
                font-weight: bold;
                text-decoration: none;
                color: #000;
                position: relative;
                z-index: 888;
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0;
                    z-index: -888;
                    transition: 0.4s;
                    background-color: #e9204f;
                }
            }
        }
    }
    .third-all{
        justify-content: space-between;
        .box{
            margin: 5px 0;
            overflow: hidden;
            position: relative;
            .box-text{
                position: absolute;
                left: 40%;
                top: 50%;
                transform: translate(-50%,-50%);
                opacity: 0;
                transition:0.4s ;
                h3{
                    font-size: 28px;
                    color: #fff;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                    font-size: 18px;
                }
            }
            &:hover{
                .box-text{
                    opacity: 1;
                    left: 50%;
                }
                img{
                    transform: scale(1.2);
                    filter: grayscale(0);
                }
            }
        }
        img{
            width: 100%;
            transition: 0.4;
            filter: grayscale(1);
        }
    }
}

// Fourth

#Fourth{
    .fourth-text{
        margin: 5rem 0;
        align-items: center;
        .left{
            letter-spacing: -0.4px;
            hr{
            background-color: #e9204f;
            height: 2px;
            width: 50px;
            border: none;
            margin-top: -70px;
            margin: 35px 0;
            }
            h2{
                font-size: 50px;
                color: #101010;
                font-weight: bold;
                margin: 20px 0px;
            }
            h4{
                font-size: 19px;
                color: #e9204f;
            }
        }
        .right{
            p{
                font-size: 17px;
                color: #747474;
                line-height: 26px;
                font-weight: 500;
            }
        }
    }
    .fourth-all{
        .left{
            position: relative;
            h3{
                font-size: 25px;
                color: #fff;
                font-weight: bold
            }
            p{
                font-size: 17px;
                color: #ffffe6;
            }       
            img{
                width: 100%;
                filter: grayscale(1);
                transition: 0.4s;
                &:hover{
                    filter: grayscale(0);
                }
            }
            .box-text{
                position: absolute;
                bottom: 30px;
                left: 30px;
            }
        }
        .right{
            h3{
                font-size: 25px;
                color: #fff;
                font-weight: bold;
            }
            p{
                font-size: 17px;
                color: #ffffe6;
            }
            img{
                width: 100%;
                height: 281px;
                filter: grayscale(1);
                transition: 0.4s;
                &:hover{
                    filter: grayscale(0);
                }
            }
            .right1{
                margin: 6px 0;
                position: relative;
                .box-text1{
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                }
            }
            .right2{
                position: relative;
                .box-text2{
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                }
            }
        }
    }
    .text-all{
        margin: 70px 0;
        .box{
            padding: 0 20px 20px;
            h2{
                font-size: 22px;
                margin-bottom: 20px;
            }
            p{
                font-size: 17px;
                color: #747474;
                line-height: 26px;
            }
        }
    }
}

// Fifth

#Fifth{
    .fifth-all{
        .left{
            position: relative;
            z-index: 1;
            &::before{
                content: '';
                position: absolute;
                bottom: -34px;
                right: -24px;
                width: 109px;
                height: 100px;
                background-color: #e9204f;
                z-index: -1;
            }
            img{
                width: 100%;
            }
        }
        .right{
            padding:0 60px;
            hr{
                background-color: #e9204f;
                height: 2px;
                width: 50px;
                border: none;
                margin-top: -70px;
                margin: 35px 0;
            }
            h2{
                font-size: 50px;
                color: #101010;
                font-weight: bold;
            }
            h4{
                font-size: 18px;
                color: #e9204f;
                padding: 30px 0;
            }
            p{
                font-size: 24px;
                color: #747474;
            }
            h6{
                font-size: 17px;
            }

        }
    }
}


// Sixth

#Sixth{
    margin: 4rem 0;
    .sixth-all{
        justify-content: space-around;
        align-items: center;
        .box{
            margin: 15px 0;
            img{
                width: 100%;
            }
        }
    }
}

// Seventh

#Seventh{
    .seventh-text{
        text-align: center;
        h2{
            font-size: 48px;
            color: #101010;
            font-weight: bold;
        }
        h4{
            font-size: 18px;
            color: #e9204f;
            line-height: 70px;
            line-height: -1px;
        }
    }
    .seventh{
        justify-content: space-between;
        .box{
            overflow: hidden;
            cursor: pointer;
            position: relative;
            img{
                width: 100%;
                filter: grayscale(1);
            }
            .box-text{
                position: absolute;
                bottom: 30px;
                left: 50%;
                text-align: center;
                transform: translateX(-50%);
                transition: 0.4s;
                a{
                    text-decoration: none;
                    color: #fff;
                }
                h3{
                    color: #fff;
                    margin: 10px  0;
                }
                i{
                    color: #fff;
                    opacity: 0;
                }
            }
            &:hover{
                img{
                    filter: grayscale(0);
                    transform: scale(1.2);
                }
                .box-text{
                    padding-bottom: 20px;
                }
                i{
                    opacity: 1;
                }
            }
        }
    }
}


// Footer

#Footer{
    margin: 5rem 0;
    background-color: #1b1b1b;
    padding: 8rem 0;
    .footer-all{
        text-align: center;
        .left{
            i{
                color: #fff;
                font-size: 20px;
                margin-right: 7px;
                border: 2px solid #e9204f;
                border-radius: 100%;
                padding: 12px 15px;
                transition: 0.3s;
                &:hover{
                    color: #e9204f;
                    transform: translateY(-10px);
                }
            }
        }
        .middle{
            h2{
                margin: 45px 0;
                font-size: 50px;
                color: #fff;
            }
        }
        .right{
            a{
                border: 1px solid #e9204f;
                padding: 20px 40px;
                font-size: 16px;
                color: #fff;
                background-color: transparent;
                font-weight: bold;
                text-decoration: none;
                position: relative;
                z-index: 999;
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    z-index: -999;
                    left: 0;
                    height: 100%;
                    transition: 0.4s;
                    width: 0;
                    background-color: #e9204f;
                }
            }
        }
    }
}

// Footer2

#Footer2{
    background-color: #161616;
    padding: 35px 0;
    margin: -80px 0;
    .infobox{
        .left,.right{
            text-align: center;
            &:hover{
                h3,p{
                    color: #e9204f;
                }
            }
            h3,p{
                color: #fff;
                margin: 14px ;
                font-size: 20px;
            }
        }
    }
}

// Footer3

#Footer3{
    margin: 5rem 0 0 0;
    padding: 33px 0;
    background-color: #000;
    .footer3-all{
        .left{
            color: #8c8080;
            font-size: 14px;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
        .right{
            text-align: right;
            ul{
                list-style: none;
                display: flex;
                justify-content: flex-end;
                li{
                    &:hover{
                        a{
                            color: #e9204f;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: bold;
                        font-size: 14px;
                        margin: 10px;
                        position: relative;
                        &:hover{
                            &::after{
                                width: 100%;
                            }
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            width: 0;
                            transition: 0.4s;
                            height: 2px;
                            background-color: #e9204f;
                        }
                    }
                }
            }
        }
    }
}

//Media

@media (max-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
    #Header{
        display: none;
    }
    #HeaderMedia{
        display: block;
    }
    #sideMenu{
        display: block;
    }
    #First{
        padding: 0 0 33rem 0;
        background-position: 0% 70%;
        .first-text{
            h2{
                font-size: 44px;
                margin-top: 150px;
                line-height: 1.5;
            }
        }
    }
    #Fifth{
        .fifth-all{
            .left{
                &::before{
                    display: none;
                }
            }
        }
    }
    #Footer3{
        .footer3-all{
            .left{
                text-align: center;
            }
        }
    }
}